n8n/workflows/W0_SYSTEM_HEALTHCHECK.json
{
  "name": "W0_SYSTEM_HEALTHCHECK",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        0
      ],
      "id": "837dfeab-3111-4340-8d7f-d7230d1c78d0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT now() AS ts, 1 AS ok;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        0
      ],
      "id": "e671869e-718f-4443-86e7-826e24670f3e",
      "name": "PG_HEALTHCHECK",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "Mety86zzuX0gXK0s",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BUILD_EVENT — assemble canonical event + minimal validation\nconst MAX_STR = 120;\nconst __t0 = Date.now();\n\nfunction toStr(v, maxLen = MAX_STR) {\n  if (v === null || v === undefined) return '';\n  const s = String(v);\n  return s.length > maxLen ? s.slice(0, maxLen) : s;\n}\n\nfunction clamp01(n, fallback = 1.0) {\n  const x = Number(n);\n  if (Number.isNaN(x) || !Number.isFinite(x)) return fallback;\n  return Math.max(0, Math.min(1, x));\n}\n\nfunction normalizeStatus(s) {\n  const v = String(s || '').toLowerCase();\n  return (v === 'ok' || v === 'warn' || v === 'fail') ? v : 'warn';\n}\n\n// Input base (from previous node)\nconst input = $json || {};\n\n// Pull healthcheck result if available (node name must match your workflow)\nlet hc = {};\ntry {\n  hc = $node[\"PG_HEALTHCHECK\"].json || {};\n} catch (e) {\n  hc = {};\n}\n\n// Defaults for W0 (system healthcheck)\nconst agent = toStr(input.agent) || \"system\";\nconst action = toStr(input.action) || \"system.healthcheck\";\nconst input_ref = toStr(input.input_ref) || \"pg:healthcheck\";\nconst output_ref = toStr(input.output_ref) || \"ledger:events\";\n\n// Derive status from healthcheck if present\nconst okVal = (hc.ok !== undefined) ? Number(hc.ok) : undefined;\nconst status =\n  okVal === 1 ? \"ok\" :\n  okVal === 0 ? \"fail\" :\n  (input.status ? normalizeStatus(input.status) : \"warn\");\n\nconst confidence = clamp01(input.confidence, 1.0);\n\n// Meta: ensure object and include healthcheck info\nlet meta = input.meta;\nif (typeof meta === 'string') {\n  try { meta = JSON.parse(meta); }\n  catch (err) { meta = { raw: toStr(meta, 500) }; }\n}\nif (!meta || typeof meta !== 'object' || Array.isArray(meta)) meta = {};\n\nmeta.source = meta.source || \"W0_SYSTEM_HEALTHCHECK\";\nmeta.hc = {\n  ts: hc.ts || null,\n  ok: (hc.ok !== undefined ? hc.ok : null)\n};\n\n// Observability minimal\nmeta.component = meta.component || \"postgres\";\nmeta.duration_ms = Date.now() - __t0;\n\nreturn [{\n  json: {\n    agent,\n    action,\n    input_ref,\n    output_ref,\n    confidence,\n    status,\n    meta\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        0
      ],
      "id": "09613f8e-d423-4dec-83e3-498c55835858",
      "name": "BUILD_EVENT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ledger.events\n(agent, action, input_ref, output_ref, confidence, status, meta)\nVALUES\n($1, $2, $3, $4, $5, $6, $7::jsonb);\n",
        "options": {
          "queryReplacement": "=={{$json.agent}}\n\n={{$json.action}}\n\n={{$json.input_ref}}\n\n={{$json.output_ref}}\n\n={{$json.confidence}}\n\n={{$json.status}}\n\n={{JSON.stringify($json.meta)}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        0
      ],
      "id": "295a1823-24f6-4b80-a08f-e0fe6b9de13b",
      "name": "LEDGER_INSERT",
      "credentials": {
        "postgres": {
          "id": "Mety86zzuX0gXK0s",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PG_HEALTHCHECK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG_HEALTHCHECK": {
      "main": [
        [
          {
            "node": "BUILD_EVENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD_EVENT": {
      "main": [
        [
          {
            "node": "LEDGER_INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db43a60a-7bb4-428f-af6d-7fd383c1dada",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3c3cc24994848c0886764d73cbf13f8bda1a37350371f0d54b482e3a68f6ae4"
  },
  "id": "QWASqOGCbFREb9zw",
  "tags": []
}